<nav class="navbar navbar-toggleable-sm navbar-full navbar-inverse" style="background-color: #4D8618;">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navExpanded = !navExpanded" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/#">
    <i class="fa grails-icon">
      <img src="../../images/grails-cupsonly-logo-white.svg" />
    </i>&nbsp;Grails
  </a>
  <div class="collapse navbar-collapse " id="exCollapsingNavbar2" [ngbCollapse]="!navExpanded">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown>
        <a href="#" class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">Application Status <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Environment: {{applicationData?.environment}}</a>
          <a class="dropdown-item" href="#">App profile: {{applicationData?.appprofile}}</a>
          <a class="dropdown-item" href="#">App version: {{applicationData?.appversion}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Grails version: {{applicationData?.grailsversion}}</a>
          <a class="dropdown-item" href="#">Groovy version: {{applicationData?.groovyversion}}</a>
          <a class="dropdown-item" href="#">JVM version: {{applicationData?.jvmversion}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reloading active: {{applicationData?.reloadingagentenabled}}</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a href="#" class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">Artefacts <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Controllers: {{applicationData?.artefacts?.controllers}}</a>
          <a class="dropdown-item" href="#">Domains: {{applicationData?.artefacts?.domains}}</a>
          <a class="dropdown-item" href="#">Services: {{applicationData?.artefacts?.services}}</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a href="#" class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">Installed Plugins <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#" *ngFor="let plugin of applicationData?.plugins">{{plugin.name}} - {{plugin.version}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>